
:root {
  --color-red: #e84855;
  --color-green: #21a179;
  --color-black: #272727;
  --color-white: #f9f9f9;
  --color-blue: #48acf0;
  --font-michroma:  'Michroma', sans-serif
}


body {
  font-family: var(--font-michroma);
  margin: 0;
  padding: 0;
  background: var(--color-black);
  color: var(--color-white);
}

.Dashboard {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
}
