.Widget {
  position: relative;
}

.Widget h1 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  line-height: 1em;
}

.Widget-inner {
  border: solid 4px var(--color-white);
  background: black;
  overflow: hidden;
  position: absolute;
  top: 1.75em;
  left: 0;
  right: 0;
  bottom: 0;
}
