:root {
  --color-red: #e84855;
  --color-green: #21a179;
  --color-black: #272727;
  --color-white: #f9f9f9;
  --color-blue: #48acf0;
  --font-michroma:  'Michroma', sans-serif
}


body {
  font-family: var(--font-michroma);
  margin: 0;
  padding: 0;
  background: var(--color-black);
  color: var(--color-white);
}

.App {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 40px;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Visual {
  position: relative;
  border: solid 4px var(--color-white);
  background: black;
}

.Visual-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: contain;
  z-index: 0;
}

.Visual iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.Visual-pin {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.Chat {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.Chat-log {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90%;
}

.Chat-log ol {
  margin: 0;
  padding: 0;
}

.Chat-item {
  padding: 5px;
  margin: 0;
  list-style: none;
}

.Chat-item-hal {
  background: var(--color-blue);
}

.Chat-item-sender {
  text-decoration: underline;
  margin-right: 5px;
  width: 60px;
  display: inline-block;
}

.Chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 2px var(--color-white);
}

.Chat-input-text {
  flex-grow: 1;
  border: none;
  outline: none;
  background: none;
  color: var(--color-white);
  font-family: var(--font-michroma);
  padding: 0 10px;
}

.Chat-input-text:focus {
  border: none;
  outline: none;
}

.Chat-input-button {
  border: none;
  color: none;
  font-family: var(--font-michroma);
  background: var(--color-green);
  color: var(--color-white);
  padding: 0 20px;
}